---
import { useTranslation } from '../i18n/ui';

interface Props {
    lang: 'en' | 'es' | 'fr' | 'jp';
}

const { lang } = Astro.props;
const t = useTranslation(lang);

const getRoute = (route: string) => {
  return `/${lang}/${route}`;
}

const currentPath = Astro.url.pathname;

const languages = [
  { code: 'en', label: 'EN' },
  { code: 'es', label: 'ES' },
  { code: 'fr', label: 'FR' },
  { code: 'jp', label: 'JP' },
];


const getLangUrl = (targetLang: string) => {
  return currentPath.replace(/^\/[^\/]+/, `/${targetLang}`);
};

---

<header class="fixed top-0 left-0 w-full z-50 bg-vanter-bg/80 backdrop-blur-md border-b-2 border-vanter-border">
  <div class="max-w-7xl mx-auto w-full px-4">
    <nav class="relative w-full min-h-15 flex items-center justify-between p-4">
    
      
      <a href={`/${lang}/`} class="flex items-center gap-4 z-20">
        <img class="rounded-lg size-10" src="/vanter-tech_logo.webp" alt="Vanter Tech Logo">
        <h2 class="text-2xl font-semibold text-vanter-primary-text font-code">VANTER</h2>
      </a>
      

      <button id="burger-btn" class="md:hidden flex flex-col gap-1.5 p-2 cursor-pointer z-20">
        <div id="line1" class="w-6 h-0.5 bg-vanter-primary-text transition-all duration-300"></div>
        <div id="line2" class="w-6 h-0.5 bg-vanter-primary-text transition-all duration-300"></div>
      </button>

      <div class="hidden md:flex md:items-center md:gap-8">
        <ul class="flex gap-6">
          <li><a href={getRoute('about')} class="text-vanter-primary-text hover:text-vanter-secondary-text transition-colors">{t('nav.about')}</a></li>
          <li><a href={getRoute('services')} class="text-vanter-primary-text hover:text-vanter-secondary-text transition-colors">{t('nav.services')}</a></li>
          <li><a href={getRoute('contact')} class="text-vanter-primary-text hover:text-vanter-secondary-text transition-colors">{t('nav.contact')}</a></li>
        </ul>
        <div class="flex gap-4">
          <button class="bg-vanter-bg text-vanter-primary-text font-bold py-2 px-4 rounded border-2 border-vanter-border hover:bg-vanter-primary-text hover:text-vanter-bg transition-colors">
            {t('btn.pricing')}
          </button>
          <div class="relative group">
            <button class="px-5 py-2 border-2 border-vanter-border text-white rounded hover:bg-white/10 transition-colors flex items-center gap-2 uppercase font-vanter-code cursor-pointer">
              {lang}
              <svg class="w-4 h-4 transition-transform duration-300 group-hover:rotate-180" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
            </button>

            <div class="absolute right-0 mt-2 w-24 bg-[#0a0a0a] border border-white/20 rounded shadow-2xl opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all duration-300 z-50 overflow-hidden">
    
              <div class="py-1 flex flex-col">
                {languages.map((l) => (
                <a
                href={getLangUrl(l.code)}
                class={`px-4 py-3 text-sm text-center hover:bg-white/10 transition-colors font-vanter-code
                ${l.code === lang ? 'text-blue-500 font-bold bg-white/5' : 'text-gray-300'}
                `}
                  >
                {l.label}
              </a>
                ))}
              </div>
    
            </div>
          </div>
        </div>
      </div>

      <div id="mobile-menu" class="md:hidden absolute top-full left-0 w-full bg-vanter-bg border-b-2 border-vanter-border p-6 flex flex-col gap-8 z-10 transition-all duration-300 ease-in-out opacity-0 pointer-events-none -translate-y-4">
        
        <ul class="flex flex-col gap-6 text-center">
          <li class="menu-item opacity-0 translate-y-4 transition-all duration-300">
            <a href={getRoute('about')} class="text-vanter-primary-text text-xl">{t('nav.about')}</a>
          </li>
          <li class="menu-item opacity-0 translate-y-4 transition-all duration-300">
            <a href={getRoute('services')} class="text-vanter-primary-text text-xl">{t('nav.services')}</a>
          </li>
          <li class="menu-item opacity-0 translate-y-4 transition-all duration-300">
            <a href={getRoute('contact')} class="text-vanter-primary-text text-xl">{t('nav.contact')}</a>
          </li>
        </ul>

        <div class="flex flex-col gap-4 mt-2">
          <button class="menu-item opacity-0 translate-y-4  duration-300 bg-vanter-bg text-vanter-primary-text font-bold py-3 px-4 rounded border-2 border-vanter-border w-full hover:bg-vanter-primary-text hover:text-vanter-bg transition-colors">
            {t('btn.pricing')}
          </button>
          <div class="mt-4 w-full flex flex-col items-center gap-4 menu-item opacity-0 translate-y-4 transition-all duration-300">
            <span class="text-xs text-gray-500 font-vanter-code uppercase tracking-widest">{t('span.language.burgerMenu')}</span>  
            <div class="flex flex-wrap justify-center gap-3">
              {languages.map((l) => (
              <a
                href={getLangUrl(l.code)}
                class={`w-12 h-12 flex items-center justify-center rounded-xl border text-sm font-vanter-code transition-colors
                ${l.code === lang 
                ? 'border-blue-500 text-blue-500 bg-blue-500/10 font-bold' 
                : 'border-white/10 text-gray-400 bg-white/5 hover:bg-white/10'
                }`}>
                {l.label}
              </a>))}
            </div>
          </div>
        </div>

      </div>
    </nav>
  </div>
</header>